/* Dashboard Page */
.dashboard-top {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.dashboard-top .top-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.dashboard-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.first-section-data,
.second-section,
.third-section,
.fourth-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.second-section-data,
.third-section-data,
.fourth-section-data {
    width: 100%;
}

.fourth-section-data {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1rem;
}

.extended-fourth-section {
    flex: 1;
    display: flex;
    align-items: stretch;
}

/* Card CSS */
.card-data {
    padding: 1rem;
    text-align: center;
    width: 25%;
}

.card-data h2 {
    margin: 0;
    padding-bottom: 0.5rem;
}

/* Data Border */
.data,
.data div {
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    padding: 1rem;
    background-color: #ffffff;
}