/* Main Container */
.ecomm-container {
    display: flex;
    flex-direction: column;
}

/* Header: Content Selectors, Options */
.ecomm-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
/* Header Content Selector */
.ecomm-content-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Responsive Selector Buttons */
.content-selector button {
    font-size: larger;
    padding: 0.5rem;
    border: 0;
    border-bottom: 1px solid black;
}
.content-selector button:hover {
    cursor: pointer;
    background-color: #ccc;
}
.content-selector button.active {
    background-color: #ccc;
}

/* Header Options */
.ecomm-option-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    font-weight: 600;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #E0E0E0;
}
/* Select Options */
.ecomm-option-header select {
    width: 12rem;
    font-size: medium;
    text-align: left;
    padding: 0.5rem;
    margin-left: 0.5rem;
    background-color: #f8f8f8;
    cursor: pointer;
}
/* Search Options */
.ecomm-option-header .search-bar {
    background-color: #f8f8f8;
    width: 16rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.ecomm-option-header .search-bar input {
    background-color: #f8f8f8;
    margin-left: 0.5rem;
    font-size: medium;
    border: none;
    border-style: none;
}
.ecomm-option-header .search-bar input:focus{
    /* Remove outline of Input Textbox when clicked */
    outline: none;
}
/* Cart Option - Text Margin */
.ecomm-option-header .cart {
    cursor: pointer;
}
.ecomm-option-header span {
    margin-left: 0.5rem;
}

/* Ecommerce Body: Filters, List of Products */
.ecomm-body {
    display: flex;
    flex-direction: row;
}

/* Filters */
.ecomm-filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 150px;
    border-right: 1px solid #ccc;
}
.ecomm-filter .filter {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}
.checkbox-filter {
    padding-top: 10px;
}

.ecomm-product-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.ecomm-product-item li {
    list-style: none;
    cursor: pointer;
}

.ecomm-product-price {
    color: #da0000;
    font-size: larger;
    font-weight: 900;
}

.ecomm-product-ehf {
    padding-left: 4px;
    color: #4e4e4e;
    font-size: small;
}

.ecomm-product-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

/* Product Modal - Displayed OnClicked */
.product-modal {
    max-height: 80vh;
    overflow-y: auto;
}
.product-modal img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: 1.5rem;
}
#product-modal-icon {
    border: 1px solid var(--icon-background);
    border-radius: 10px;
    background-color: var(--icon-background);
    color: black;
    padding: 0.5rem;
    cursor: pointer;
    float: right;
}
#product-modal-icon:hover {
    background-color: #405bf3;
}

/* Cart */
.ecomm-cart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ecomm-cart-product {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    text-align: left;
    padding: 1rem;
    border: 2px solid #9b9b9b;
    border-radius: 12px;
}

.ecomm-cart-product .item {
    width: 200px;
    max-width: 200px;
}

.ecomm-cart-product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.ecomm-last-item,
.cart-total,
.cart-total-item {
    margin-left: auto;
    text-align: right !important;
}

/* Qty Editing */
.minus-btn,
.plus-btn {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    cursor: pointer;
    border-radius: 6px;
}
.minus-btn:hover,
.plus-btn:hover {
    background-color: #ddd;
}
.quantity {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    min-width: 30px;
}
/* Removing Product */
.ecomm-remove-product {
    color: #db2c2c;
    cursor: pointer;
    padding: 1rem;
    border-radius: 12px;
}
.ecomm-remove-product:hover {
    color: #a02b2b;
    background-color: #ccc;
}

/* Sub-Total, Tax, Total */
.cart-total {
    display: flex;
    flex-direction: column;
}

.cart-total-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 200px;
}

.cart-total-item .label {
    min-width: 100px;
}
