/* Profile + Setting Pages */
.setting {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.setting-body {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.setting-body #email {
    font-size: larger;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 12px;
    background-color: #ccc;
    color: #db0000;
}

.password-cotainer input,
#deletePassword {
    margin-top: 1rem;
    font-size: medium;
    padding: 0.3rem;
    border: 2px solid black;
    border-radius: 12px;
}

.setting-body .warning-button {
    margin-top: 1rem;
    padding: 1rem;
    font-size: larger;
    border-radius: 12px;
    border: 2px solid #3d444d;
    /* background-color: #212830;  */
    background-color: #ffffff;
    /* color: #fa5e55; */
    color: #ff0000;
}
.setting-body button:hover {
    background-color: #e72b2b;
    color: #ffffff;
    cursor: pointer;
}

.setting-body label,
.setting-body p {
    font-weight: bolder;
    color: #212830;
}